<div>
    <div class="row col-md-12">
        <div class="col-md-4">First Name : </div><div class="col-md-7"><input type="text" class="form-control" id="adduser_fname" /></div>
    </div>
    <div class="row"></div>
    <br />
    <div class="row col-md-12">
        <div class="col-md-4">Last Name : </div><div class="col-md-7"><input type="text" class="form-control" id="adduser_lname" /></div>
    </div>
    <div class="row"></div>
    <br />
    <div class="row col-md-12">
        <div class="col-md-4">Email : </div><div class="col-md-7"><input type="text" class="form-control" id="adduser_email" /></div>
    </div>
    <div class="row"></div>
    <br />
    <div class="row col-md-12">
        <div class="col-md-4">User Type : </div><div class="col-md-7"><input type="text" class="form-control" id="adduser_utype" /></div>
    </div>
    <div class="row"></div>
    <br />
    <div class="row col-md-12">
        <div class="col-md-4">Allowed Repositoires : </div><div class="col-md-7">
            <select class="form-control" id="adduser_repos" multiple="multiple"></select>
        </div>
    </div>
    <div class="row"></div>
    <br />
    <div class="row col-md-12">
        <div class="col-md-4">Status : </div><div class="col-md-7"><input type="text" class="form-control" id="adduser_status" /></div>
    </div>
    <div class="row"></div>
    <br />
    <label id="lbl_newuser_msg" class="text-success"></label>
    <br />

</div>